body{
    padding: 0px;
    margin: 0px;
    font-family:Arial;
    font-size: 13px;
    background-color: #ccc;
}

nav{ 
    
    box-shadow: 10px ;
    background-color:white;
    color: black;
    width: 100%;
    padding-top: 2px;
    border-bottom: 1px #eee solid;
    font-size: 14px;
    box-shadow: 0px 3px 0px 0px #ddd;
 
    
}
.nav__header{
    font-weight: bold;
    
}
.nav__ul{
    padding-left: 2px;
}

.nav__li {
    display: inline;
    list-style: none;
    padding: 7px;
    margin: 10px;
    cursor: pointer;

    padding: 5px;
    
  }

.li--active{
    color:#4D6B9F;
    border-bottom: #4D6B9F solid 2.5px;

}





.containerPort,.containerAcerca{
    margin-top: 6px;
    background-color: #599F71;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 10px;
    row-gap: 10px;
    margin: 35px;

}
.containerAcerca{
  display:none;
  background-color:white;
  margin:16px;
  border-radius:20px;
  padding:6px;
}
footer{
    color: black;
    text-align: center;
    background-color: white;
    width: 100%;
    height: 41px;
    padding-top: 10px; 
    margin-top: 5px;
    bottom: 0;
    position: absolute;
    font-weight: bold;

}



/***/

.card{
    border: solid black 1px;
    padding: 5px;
    margin: 5px;
    

}

.card__headerCard{
    background-color: #4167A5;
    color: white;
    padding: 6px;
    text-align: center;

}

.card__descCard{
    background-color: white;padding: 6px;

}

img{
   width:480px;
   height:480px;
   
}
.desDiv,.imgDiv{
    text-align:center;
}

